@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-200;
  }
}

.parallax {
  /* Set a specific height */
  min-height: 400px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#hero {
  background-image: url('https://images.pexels.com/photos/595229/pexels-photo-595229.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
}

#horaires {
  background-image: url('https://images.pexels.com/photos/9003001/pexels-photo-9003001.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
}
