@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-200;
  }
}

.parallax {
  /* Set a specific height */
  min-height: 400px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.page-content h3 {
  @apply text-center;
}

.page-content p {
  @apply my-2;
}

.btn {
  @apply border-2 border-slate-400 p-3 rounded-3xl shadow-lg bg-slate-200;
}

#hero {
  background-image: url('https://images.pexels.com/photos/595229/pexels-photo-595229.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
}

#horaires {
  background-image: url('https://images.pexels.com/photos/9003001/pexels-photo-9003001.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
}

#youtube {
  background-image: url('https://images.pexels.com/photos/34407/pexels-photo.jpg');
}

#not-found {
  background-image: url('https://firebasestorage.googleapis.com/v0/b/tft---site.appspot.com/o/404-tft.png?alt=media&token=b61f63d4-4547-408a-bd6a-0c903e74774f');
  background-size: auto 70vh;
}
