@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-200;
  }
}

.parallax {
  min-height: 400px;

  @apply bg-fixed bg-center bg-cover;
}

.page-content h3 {
  @apply text-center;
}

.page-content p {
  @apply my-2;
}

.btn {
  @apply border-2 border-slate-400 p-3 rounded-3xl shadow-lg bg-slate-200;
}

.logo-chaine {
  @apply h-16 w-auto mb-1 2xl:h-[75px];
}

#hero {
  background-image: url('https://firebasestorage.googleapis.com/v0/b/tft---site.appspot.com/o/Hero_bg.jpeg?alt=media&token=abb35837-c653-4cba-8539-d677972a5064');
}

#horaires {
  background-image: url('https://firebasestorage.googleapis.com/v0/b/tft---site.appspot.com/o/Horaires_bg.webp?alt=media&token=dff6d83a-6497-4238-9328-e219750c0b33');
}

#youtube {
  background-image: url('https://firebasestorage.googleapis.com/v0/b/tft---site.appspot.com/o/Youtube_bg.jpg?alt=media&token=8020d6fe-4a6d-4c39-9e1f-a575abd7f742');
}

#not-found {
  background-image: url('https://firebasestorage.googleapis.com/v0/b/tft---site.appspot.com/o/404-tft.png?alt=media&token=b61f63d4-4547-408a-bd6a-0c903e74774f');
  background-size: auto 70vh;
}
